* {
    box-sizing: border-box;
  }

#backBtn{
    border-width: 0;
    background-color: #E8E8E8;
}
body{
    background-color: #E8E8E8;

}
#title1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:xx-large;
    color:#425172;
    padding-bottom:0px;
    margin-bottom:0px;
}
#title2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:x-large;
    color:#425172;
    opacity:80%;
    
}
#upload_image{
    border:0;
    
}
#blah{
    width:150px;
    height:200px;
}
#submit{
    border:0;
}
.Parent { 
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-direction: row; 
    background-color:#F7F5E6;
    width:60%;
    

} 

.addPhoto { 
    border: black 1px solid;
    width: 40%; 
    height: 500px; 
    margin:40px;
    text-align: center; 
    color: #425172; 
    
} 

.fillForm { 
    
    width: 60%; 

    height: 500px; 
    
   
} 
